@using KontinuityCRM.Models.ViewModels.Enum
@using System.Linq;
@model PagedList.IPagedList<KontinuityCRM.Models.ViewModels.RebillModel>

@{
    ViewBag.Title = "Rebill Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    int maxAge = Model.Max(a => a.OrderList.Count);
}
@section styles {

    <link href="~/Content/assets/css/datepicker.css" rel="stylesheet" />

}


<div class="page-header">
    <h1 class="row no-padding">
        <span class="col-sm-8 no-padding">
            @ViewBag.Title
        </span>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">


        <form method="get" class="form-horizontal">

            <div class="row">

                <label class="control-label bolder blue col-sm-1">View by </label>

                <div class="checkbox-inline">
                    <label>
                        <input name="ProductId" type="checkbox" class="ace" @(ViewBag.ProductId == true ? "checked" : string.Empty) value="True" />
                        <span class="lbl"> ProductId</span>
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input name="AffiliateId" type="checkbox" class="ace" @(ViewBag.AffiliateId == true ? "checked" : string.Empty) value="True" />
                        <span class="lbl"> AffiliateId</span>
                    </label>
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input name="SubId" type="checkbox" class="ace" @(ViewBag.SubId == true ? "checked" : string.Empty) value="True" />
                        <span class="lbl"> SubId</span>
                    </label>
                </div>

                <div class="space-4"></div>

            </div>
            <div class="row">
                <label class="control-label bolder blue col-sm-1">Date As</label>
                <div class="radio-inline">
                    <label>
                        <input name="searchByDateOption" type="radio" class="ace" @(ViewBag.searchByDateOption == 1 ? "checked" : string.Empty) value="1" />
                        <span class="lbl"> Rebill Date</span>
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input name="searchByDateOption" type="radio" class="ace" @(ViewBag.searchByDateOption == 2 ? "checked" : string.Empty) value="2" />
                        <span class="lbl"> Sign Up Date</span>
                    </label>
                </div>
                <div class="space-4"></div>
            </div>

            <div class="row">

                <div class="col-sm-4 col-xs-10">

                    <div class="input-daterange input-group">
                        <input type="text" class="form-control" name="start" value="@ViewBag.start" />
                        <span class="input-group-addon">
                            <i class="fa fa-exchange"></i>
                        </span>

                        <input type="text" class="form-control" name="end" value="@ViewBag.end" />

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-purple btn-sm">
                                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                            </button>
                        </span>
                    </div>


                </div>

                <div class="col-sm-4 col-sm-offset-4 col-xs-2">

                    @Html.DropDownList("Display", new SelectList(new List<int>() { 10, 25, 50, 100, 500, 1000 }, ViewBag.Display), new { @class = "pull-right" })

                </div>

            </div>

        </form>
        <div class="space-4"></div>

        <div class="table-outter-wrapper">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="@ViewBag.DateOrderIcon">
                            @Html.ActionQueryLink("Date", "rebill", new { sortOrder = ViewBag.DateSortParm }, null, "page,display")
                        </th>
                        @if (ViewBag.ProductId)
                        {
                            <th class="@ViewBag.ProductIdOrderIcon">
                                @Html.ActionQueryLink("ProductId", "rebill", new { sortOrder = ViewBag.ProductIdSortParm }, null, "page,display")
                            </th>
                        }
                        @if (ViewBag.AffiliateId)
                        {
                            <th class="@ViewBag.AffiliateIdOrderIcon">
                                @Html.ActionQueryLink("AffiliateId", "rebill", new { sortOrder = ViewBag.AffiliateIdSortParm }, null, "page,display")
                            </th>
                        }
                        @if (ViewBag.SubId)
                        {
                            <th class="@ViewBag.SubIdOrderIcon">
                                @Html.ActionQueryLink("SubId", "rebill", new { sortOrder = ViewBag.SubIdSortParm }, null, "page,display")
                            </th>
                        }
                        <th class="@ViewBag.GrossOrderIcon">
                            @Html.ActionQueryLink("Gross", "rebill", new { sortOrder = ViewBag.GrossSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.CanceledOrderIcon">
                            @Html.ActionQueryLink("Pre Cancels", "rebill", new { sortOrder = ViewBag.CanceledSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.AttemptedOrderIcon">
                            @Html.ActionQueryLink("Attempted", "rebill", new { sortOrder = ViewBag.AttemptedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.ApprovedOrderIcon">
                            @Html.ActionQueryLink("Approved", "rebill", new { sortOrder = ViewBag.ApprovedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.DeclinedOrderIcon">
                            @Html.ActionQueryLink("Declined", "rebill", new { sortOrder = ViewBag.DeclinedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.RefundedOrderIcon">
                            @Html.ActionQueryLink("Refunded", "rebill", new { sortOrder = ViewBag.RefundedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.RebillsOrderIcon">
                            @Html.ActionQueryLink("Rebills", "rebill", new { sortOrder = ViewBag.RebillsSortParm }, null, "page,display")
                        </th>
                        @*@{
                                for (int i = 0; i < (ViewBag.Rebills as List<OrderTimeEvent>).Count; i++)
                                {
                                    <th>Rebill @i++</th>
                                }

                            }*@
                        @{
                            for (int i = 0; i < maxAge; i++)
                            {
                                <th>Rebill @i++</th>
                            }
                        }
                        <th class="@ViewBag.RebillsCanceledOrderIcon">
                            @Html.ActionQueryLink("Post Cancels", "rebill", new { sortOrder = ViewBag.RebillsCanceledSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.RebillsApprovedOrderIcon">
                            @Html.ActionQueryLink("Rebills Approved", "rebill", new { sortOrder = ViewBag.RebillsApprovedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.RebillsDeclinedOrderIcon">
                            @Html.ActionQueryLink("Rebills Declined", "rebill", new { sortOrder = ViewBag.RebillsDeclinedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.RebillsRefundedOrderIcon">
                            @Html.ActionQueryLink("Rebills Refunded", "rebill", new { sortOrder = ViewBag.RebillsRefundedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.ReattemptsOrderIcon">
                            @Html.ActionQueryLink("Reattempts", "rebill", new { sortOrder = ViewBag.ReattemptsSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.ReattemptsApprovedOrderIcon">
                            @Html.ActionQueryLink("Reattempts Approved", "rebill", new { sortOrder = ViewBag.ReattemptsApprovedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.ReattemptsDeclinedOrderIcon">
                            @Html.ActionQueryLink("Reattempts Declined", "rebill", new { sortOrder = ViewBag.ReattemptsDeclinedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.ReattemptsRefundedOrderIcon">
                            @Html.ActionQueryLink("Reattempts Refunded", "rebill", new { sortOrder = ViewBag.ReattemptsRefundedSortParm }, null, "page,display")
                        </th>
                        <th class="@ViewBag.ReattemptsCanceledOrderIcon">
                            @Html.ActionQueryLink("Post Reattempt Cancels", "rebill", new { sortOrder = ViewBag.ReattemptsCanceledSortParm }, null, "page,display")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.DateT.ToString("MM/dd/yyyy"), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption })
                            </td>
                            @if (ViewBag.ProductId)
                            {
                                <td>
                                    @Html.ActionLink(item.ProductId.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption })
                                </td>
                            }
                            @if (ViewBag.AffiliateId)
                            {
                                <td>
                                    @Html.ActionLink((item.AffiliateId != null ? item.AffiliateId.ToString() : "0"), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption })
                                </td>
                            }
                            @if (ViewBag.SubId)
                            {
                                <td>
                                    @Html.ActionLink((item.SubId != null ? item.SubId.ToString() : "0"), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption })
                                </td>
                            }
                            <td>
                                @Html.ActionLink(item.Gross.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "Gross" })
                            </td>
                            <td>
                                @Html.ActionLink(item.Canceled.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "PreCancels" })
                            </td>
                            <td>
                                @Html.ActionLink(item.Attempted.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "Attempted" })
                            </td>
                            <td>
                                @Html.ActionLink(item.Approved.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "Approved" })
                            </td>
                            <td>
                                @Html.ActionLink(item.Declined.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "Declined" })
                            </td>
                            <td>
                                @Html.ActionLink(item.Refunded.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "Refunded" })
                            </td>

                            <td>
                                @Html.ActionLink(item.Rebills.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "Rebills" })
                            </td>
                            @*@{
                                    for (int i = 0; i < (ViewBag.Rebills as List<OrderTimeEvent>).Count; i++)
                                    {
                                        <td>@((ViewBag.Rebills as List<OrderTimeEvent>)[i].OrderId)</td>
                                    }

                                }*@
                            @{
                                for (int i = 0; i < maxAge; i++)
                                {
                                    <td>
                                       @if (i < item.OrderList.Count)
                                       {
                                        @(item.OrderList[i].OrderId)
                                       }
                                        
                                    </td>
                                    
                                }

                            }
                            <td>
                                @Html.ActionLink(item.RebillsCanceled.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "PostCancels" })
                            </td>
                            <td>
                                @Html.ActionLink(item.RebillsApproved.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "RebillsApproved" })
                            </td>
                            <td>
                                @Html.ActionLink(item.RebillsDeclined.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "RebillsDeclined" })
                            </td>
                            <td>
                                @Html.ActionLink(item.RebillsRefunded.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "RebillsRefunded" })
                            </td>

                            <td>
                                @Html.ActionLink(item.Reattempts.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "Reattempts" })
                            </td>
                            <td>
                                @Html.ActionLink(item.ReattemptsApproved.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "ReattemptsApproved" })
                            </td>
                            <td>
                                @Html.ActionLink(item.ReattemptsDeclined.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "ReattemptsDeclined" })
                            </td>
                            <td>
                                @Html.ActionLink(item.ReattemptsRefunded.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "ReattemptsRefunded" })
                            </td>
                            <td>
                                @Html.ActionLink(item.ReattemptsCanceled.ToString(), "view", new { ProductId = ViewBag.ProductId, AffiliateId = ViewBag.AffiliateId, SubId = ViewBag.SubId, Date = @item.DateT.ToString("MM/dd/yyyy"), AffiliateIdVal = item.AffiliateId, ProductIdVal = item.ProductId, SubIdVal = item.SubId, SearchByDateOption = ViewBag.searchByDateOption, status = "PostReattemptCancels" })
                            </td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>

        @*@Model.TotalItemCount*@

        <div class="row">

            <div class="col-sm-3 col-xs-3">

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            </div>

            <div class="col-sm-9 col-xs-9">

                <div class="pull-right kpagination">

                    @Html.PagedListPager(Model, page => Url.ActionQueryUrl("rebill", new { page, sortOrder = ViewBag.CurrentSort }, "display"))

                </div>

            </div>

        </div>



    </div>
</div>

@section scripts {

    <script src="~/Content/assets/js/date-time/bootstrap-datepicker.js"></script>

    <script>

        (function () {

            $('.input-daterange').datepicker({ autoclose: true });

            $('#Display').change(function () {
                var url = "@Html.Raw(Url.ActionQueryUrl("rebill", new { sortOrder = ViewBag.CurrentSort, display = "_kdpy_" }))";
                window.location.href = url.replace("_kdpy_", $(this).val());
            });

        }())

    </script>

}



 