@model IEnumerable<KontinuityCRM.Models.Postback>

@{
    ViewBag.Title = "Postbacks";
    ViewBag.icon = "fa-inbox";
}

<div id="breadcrumb">
	<a href="@Url.Action("index", "home")" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
	<a href="#" class="current">@ViewBag.Title</a>
</div>

<div class="row">
    <div class="col-xs-12">

        <a href="@Url.Action("create")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create</a>

        <div class="widget-box">
            
            <div class="widget-title"><span class="icon"><i class="fa @ViewBag.icon"></i></span><h5>@ViewBag.Title</h5></div>
            
            <div class="widget-content nopadding">

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PostbackURL)</th>
                            <th>@Html.DisplayNameFor(model => model.Product)</th>
                            <th>@Html.DisplayNameFor(model => model.EventType)</th>
                            <th>@Html.DisplayNameFor(model => model.Parameters)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.PostbackURL)</td>
                                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.EventType)</td>
                                <td>@Html.DisplayFor(modelItem => item.Parameters)</td>
                                <td>
                                    @Html.ActionLink("Edit", "edit", new { id=item.PostbackId }) |
                                    @Html.ActionLink("Delete", "delete", new { id=item.PostbackId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
