@model PagedList.IPagedList<KontinuityCRM.Models.BlackList>

@{
    ViewBag.Title = "Black List";
}

<div class="page-header">
    <h1 class="row no-padding">
        <span class="col-sm-8 no-padding">
            @ViewBag.Title
        </span>
        <span class="col-sm-4">
            <span class="pull-right inline">
                <a href="@Url.Action("create")" class="btn btn-primary btn-round @Html.RenderHidden(new []{"create"}) ">
                    <i class="ace-icon fa fa-plus"></i>
                    Create
                </a>
            </span>
        </span>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">

        @Html.Partial("_PageTop")

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="@ViewBag.CreditCardOrderIcon">
                        @Html.ActionQueryLink("Card Number", "index", new { sortOrder = ViewBag.CreditCardSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.OrderIdOrderIcon">
                        @Html.ActionQueryLink("Order Id", "index", new { sortOrder = ViewBag.OrderIdSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CreditCard)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
                        <td>
                            @Html.ActionLink("Edit", "edit", new { id = item.Id }, new { @class = @Html.RenderHidden("edit") })
                            <span class='@Html.RenderHidden(new[] { "edit", "delete" },forceAll:true)'>|</span>
                            @Html.ActionLink("Delete", "delete", new { id = item.Id }, new { @class = @Html.RenderHidden("delete") })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Partial("_PageBottom", Model)

    </div>
</div>



