@model KontinuityCRM.Models.AccountModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Reset Password - KontinuityCRM Admin</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/assets/css/ace.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Content/assets/css/ace-part2.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/ace-rtl.css" />

    <link rel="icon" href="~/images/kcrm_min.png" type="image/x-icon">

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Content/assets/css/ace-ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Content/assets/js/html5shiv.js"></script>
    <script src="~/Content/assets/js/respond.js"></script>
    <![endif]-->
</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <img src="~/images/logo.png" />

                            </h1>
                            <!--<h4 class="blue" id="id-company-text">&copy; Company Name</h4>-->
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="reset-box" class="login-box visible widget-box no-border @( ViewBag.Register == null ? "visible" : string.Empty  )">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter smaller">
                                            <img src="~/images/kcrm_min.png" />
                                            Please Enter Your Information
                                        </h4>

                                        @if (ViewBag.Register == null)
                                        {

                                            <div>@Html.ValidationSummary(true)</div>
                                        }

                                        <div class="space-6"></div>

                                        <form method="post" action="@Url.Action("resetpassword")">
                                            <fieldset>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.PasswordFor(model => model.ChangePasswordModel.Password, new { @class = "form-control", @placeholder = "New Password" })
                                                        @*<input type="password" class="form-control" placeholder="Password" />*@
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                    @Html.ValidationMessageFor(m => m.ChangePasswordModel.Password)
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.PasswordFor(model => model.ChangePasswordModel.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                                        @*<input type="text" class="form-control" placeholder="Username" />*@
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                    @Html.ValidationMessageFor(m => m.ChangePasswordModel.ConfirmPassword)
                                                </label>
                                                <div class="space">ViewBag.Message </div>

                                                <div class="clearfix">
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">Reset password</span>
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>


                                    </div><!-- /.widget-main -->

                                    <div class="toolbar clearfix">


                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->




                        </div><!-- /.signup-box -->
                    </div><!-- /.position-relative -->


                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/Content/assets/js/jquery.js")'>" + "<" + "/script>");
    </script>

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/Content/assets/js/jquery.mobile.custom.js")'>" + "<" + "/script>");
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
                $(target).find('input[type!=hidden]:first').focus();
            });


            $('form:first *:input[type!=hidden]:first').focus();
        });
    </script>
</body>
</html>

