@model IEnumerable<ProductEvent>

<div class="widget-box">

    <div class="widget-header">
        <h5 class="widget-title">Email Notifications</h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div class="form-group">
                @Html.Label("Events", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-9">
                            <select id="events" class="form-control">
                                <option value=""></option>
                                @foreach (var item in ViewBag.Events)
                                {
                                    <option value="@item.Id"
                                            data-template="@item.Template.Name"
                                            data-server="@item.SmtpServer.Name"
                                            data-type="@(((Event)item).Type.DisplayValue())">@item.Name</option>
                                }

                            </select>
                        </div>
                        <div class="col-xs-3">
                            <button id="addevent" type="button" class="btn btn-default btn-sm plusbtn">
                                <i class="ace-icon fa fa-plus"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table" id="etable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Event</th>
                        <th>Template</th>
                        <th>SMTP</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Event.Type.DisplayValue()</td>
                            <td>@item.Event.Name</td>
                            <td>@item.Event.Template.Name</td>
                            <td>@item.Event.SmtpServer.Name</td>
                            <td>
                                <button class="btn-link red rlink"
                                        data-id="@item.EventId"
                                        data-name="@item.Event.Name"
                                        data-server="@item.Event.SmtpServer.Name"
                                        data-type="@item.Event.Type.DisplayValue()"
                                        data-template="@item.Event.Template.Name">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </button>

                                <input type="hidden" name="events.Index" value="@item.EventId" />
                                <input type="hidden" value="@item.EventId" name="Events[@item.EventId].EventId">
                                <input type="hidden" value="@item.ProductId" name="Events[@item.EventId].ProductId">
                            </td>
                        </tr>
                    }

                    

                </tbody>
            </table>

        </div>
    </div>
</div>
