@model KontinuityCRM.Models.Partial

@{
    ViewBag.Title = "Partial Delete";
    ViewBag.icon = "fa-bullseye";
}

<div id="breadcrumb">
	<a href="@Url.Action("index", "home")" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
	<a href="@Url.Action("index")">Patials</a>
	<a href="#" class="current">Delete</a>
</div>

   
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="widget-box">

                <div class="widget-title">
                    <span class="icon"><i class="fa fa-trash-o"></i></span>
                    <h5>@ViewBag.Title</h5>
                </div>

                <div class="widget-content nopadding">

                    <form method="post" class="form-horizontal">
                    
                        @Html.HiddenFor(model => model.PartialId)

                        <div class="form-group">
                             @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" , @readonly = ""})
							</div>
						</div>

                        <div class="form-group">
                             @Html.LabelFor(model => model.LastName, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm" , @readonly = ""})
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address1, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address2, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.City, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PostalCode, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Province, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.Province, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.Country, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IPAddress, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.IPAddress, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AffiliateId, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.AffiliateId, new { @class = "form-control input-sm" , @readonly = ""})
							</div>
						</div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SubId, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.SubId, new { @class = "form-control input-sm", @readonly = "" })
							</div>
						</div>

                        <div class="form-actions">
							<button type="submit" class="btn btn-danger btn-sm">Delete</button> or 
                            @Html.ActionLink("Cancel", "index", null, new { @class = "text-danger" })
						</div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

