@model PagedList.IPagedList<KontinuityCRM.Models.Partial>

@{
    ViewBag.Title = "Partials";   
}

<div class="page-header">
    <h1 class="row no-padding">
        <span class="col-sm-8 no-padding">
            @ViewBag.Title
        </span>
        <span class="col-sm-4">
            <span class="pull-right inline">
                <a href="@Url.Action("create")" class="btn btn-primary btn-round @Html.RenderHidden("create")">
                    <i class="ace-icon fa fa-plus"></i>
                    Create
                </a>
            </span>
        </span>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">

        @Html.Partial("_PageTop")

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="@ViewBag.idOrderIcon">
                        @Html.ActionQueryLink("Id", "index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.fullnameOrderIcon">
                        @Html.ActionQueryLink("Full Name", "index", new { sortOrder = ViewBag.FullNameSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.addressOrderIcon">
                        @Html.ActionQueryLink("Address", "index", new { sortOrder = ViewBag.AddressSortParm, currentFilter = ViewBag.CurrentFilter  }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.phoneOrderIcon">
                        @Html.ActionQueryLink("Phone", "index", new { sortOrder = ViewBag.PhoneSortParm, currentFilter = ViewBag.CurrentFilter  }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.countryOrderIcon">
                        @Html.ActionQueryLink("Country", "index", new { sortOrder = ViewBag.CountrySortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.emailOrderIcon">
                        @Html.ActionQueryLink("Email", "index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.ipOrderIcon">
                        @Html.ActionQueryLink("IP", "index", new { sortOrder = ViewBag.IPSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.createdOrderIcon">
                        @Html.ActionQueryLink("Created", "index", new { sortOrder = ViewBag.createdSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>
                    <th class="@ViewBag.lastupdateOrderIcon">
                        @Html.ActionQueryLink("Last Update", "index", new { sortOrder = ViewBag.lastupdateSortParm, currentFilter = ViewBag.CurrentFilter }, null, "SearchString,display,page")
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PartialId)</td>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address1)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.Country)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.IPAddress)</td>
                        <td>@Html.DisplayFor(modelItem => item.Created)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastUpdate)</td>
                        <td>
                            @Html.ActionLink("Edit", "edit", new { id = item.PartialId }, new { @class = @Html.RenderHidden("edit") }) 
                            <span class='@Html.RenderHidden("order")'>|</span>
                            @Html.ActionLink("Order", "order", new { id = item.PartialId }, new { @class = @Html.RenderHidden("order") }) 
                            <span class='@Html.RenderHidden("delete")'>|</span>
                            @Html.ActionLink("Delete", "delete", new { id = item.PartialId }, new { @class = @Html.RenderHidden("delete") })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_PageBottom", Model)    
    </div>
</div>