@model IEnumerable<KontinuityCRM.Models.OrderProduct>

@{
    ViewBag.Title = "Add Order Product";
    ViewBag.icon = "fa-shopping-cart";
    List<KontinuityCRM.Models.Product> products = ((IQueryable<KontinuityCRM.Models.Product>)ViewBag.Products).ToList();
}

<div id="breadcrumb">
	<a href="@Url.Action("index", "home")" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
    <a href="@Url.Action("index")">Orders</a>
    <a href="@Url.Action("products", new { id = ViewBag.Order.OrderId})">Products</a>
	<a href="#" class="current">Add</a>
</div>

<div class="container-fluid">
    <div class="row">
        <form method="post" class="form-horizontal" id="mform">
            <div class="col-xs-8">
                @* Order Products *@
                <div class="widget-box">

                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                        <h5>Add Product</h5>
                    </div>

                    <div class="widget-content nopadding">

                        @Html.ValidationSummary(true)

                        
                        <div class="form-group">
                            @Html.Label("Select A product", new { @class = "col-sm-4 col-md-4 col-lg-3 control-label" })
                            <div class="col-sm-8 col-md-8 col-lg-9">
                                <select id="products">
                                    <option value=""></option>
                                    @foreach (var item in ViewBag.Products)
                                    {
                                        <option value="@item.ProductId" data-sku="@item.SKU">@item.Name</option>
                                    }
                                </select>
                               @* @Html.DropDownList("product", new SelectList(ViewBag.Products, "ProductId", "Name"))*@
                                <button type="button" class="btn btn-default btn-xs" id="addproduct"><i class="fa fa-plus"></i> Add</button>
                            </div>

                            @* Products table *@
                            <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">

                                <table class="table" id="ptable">
                                    <tbody>
                                        
                                        @foreach (var item in Model)
                                        {
                                            var actp = products.Single(p => p.ProductId == item.ProductId);
                                            <tr>
                                                <td>
                                                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0 15px 5px;">
                                                        <strong>@actp.Name</strong>
                                                        <input type="hidden" name="products.Index" value="@item.ProductId" />
                                                        <input type="hidden" value="@item.ProductId" name="Products[@item.ProductId].ProductId">
                                                    </div>

                                                    <div class="col-sm-4 col-md-4" style="font-size: small; margin-top: 4px;">
                                                        Sku: @actp.SKU
                                                    </div>

                                                    <div class="col-sm-6 col-md-6" style="font-size: small;">
                                                        Qty:
                                                        <input class="form-control input-sm" type="number" value="@item.Quantity" name="Products[@item.ProductId].Quantity" data-val-required="The Quantity field is required." data-val-number="The field Quantity must be a number." data-val="true" style="width: 30%; display: inline; font-size: small; padding: 2px 5px; height: inherit;">
                                                        <div>@Html.ValidationMessageFor(m => m.ElementAt(item.ProductId).Quantity)</div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <a href="#" data-id="@item.ProductId" class="rlink" data-sku="@actp.SKU" data-name="@actp.Name">Remove</a>
                                                </td>
                                            </tr>
                                        }
                                        
                                        
                                       
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="form-actions">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</button> or 
                            @Html.ActionLink("Cancel", "products", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "text-danger" })
						</div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $(document).ready(function () {

        $("#addproduct").click(function () {
           
            var product = $('#products').find(":selected");
            var productid = product.val();
            // this the no product
            if (productid === '') {
                return;
            }
            var productname = product.text();
            var sku = product.data('sku');

            //$("#ptable tbody:last").append('<tr> <td> <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0 15px 5px;"><strong>' + productname + '</strong><input type="hidden" name="products.Index" value="' + productid + '" /> <input type="hidden" value="' + productid + '" name="Products[' + productid + '].ProductId"> </div> <div class="col-sm-4 col-md-4" style="font-size: small; margin-top: 4px;"> Sku: ' + sku + ' </div> <div class="col-sm-6 col-md-6" style="font-size: small;"> Qty: <input class="form-control input-sm" type="text" value="1" name="Products[' + productid + '].Quantity" data-val-required="The Quantity field is required." data-val-number="The field Quantity must be a number." data-val="true" style="width: 30%; display: inline; font-size: small; padding: 2px 5px; height: inherit;"><div><span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Products[' + productid + '].Quantity"></span></div> </div> </td> <td><a href="#" data-id="' + productid + '" data-sku="' + sku + '" class="rlink" data-name="' + productname + '">Remove</a></td> </tr>');

            $("#ptable tbody:last").append(addproduct(productname, productid, sku)).find('.datepicker').datepicker();

            //product.attr('disabled', 'disabled');
            //product.removeAttr("selected");
            product.remove();
            $('#products').select2();

            var form = $("#mform");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);
        });

    });

    function addproduct(productname, productid, sku) {
        var result = '<tr> <td>';
        result += '<div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0 15px 5px;">';
        result += '<strong>' + productname + '</strong>'
        result += '<input type="hidden" name="products.Index" value="' + productid + '" />';
        result += '<input type="hidden" value="' + productid + '" name="Products[' + productid + '].ProductId">';
        result += '</div>';

        result += '<div class="row">';
        result += '<div class="col-sm-3 col-md-3" style="font-size: small; margin-top: 4px;"> Sku: ' + sku + ' </div>';
        result += '<div class="col-sm-9 col-md-9" style="font-size: small;">';
        result += '<label>Qty:</label> <input class="form-control input-sm" type="text" value="1" name="Products[' + productid + '].Quantity" data-val-required="The Quantity field is required." data-val-number="The field Quantity must be a number." data-val="true" style="width: 30%; display: inline; font-size: small; padding: 2px 5px; height: inherit;">';
        result += '<div><span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Products[' + productid + '].Quantity"></span></div> </div>'
        result += '</div>';

        result += '<div class="row">';
        result += '<div class="col-sm-3 col-md-3" style="font-size: small; margin-top: 4px;"></div>';
        result += '<div class="col-sm-9 col-md-9" style="font-size: small;">';
        result += '<label>Price:</label> <input class="form-control input-sm" type="text" name="Products[' + productid + '].Price" data-val-number="The field NextProductId must be a number." data-val="true" style="width: 30%; display: inline; font-size: small; padding: 2px 5px; height: inherit;">';
        result += ' <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Products[' + productid + '].Price"></span> </div>'
        result += '</div>';


        result += '<div class="row">';
        result += '<div class="col-sm-3 col-md-3" style="font-size: small; margin-top: 4px;"></div>';
        result += '<div class="col-sm-9 col-md-9" style="font-size: small;">';
        result += '<label>NextProductId:</label> <input class="form-control input-sm" type="text" name="Products[' + productid + '].NextProductId" data-val-number="The field NextProductId must be a number." data-val="true" style="width: 30%; display: inline; font-size: small; padding: 2px 5px; height: inherit;">';
        result += ' <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="Products[' + productid + '].NextProductId"></span> </div>'
        result += '</div>';

        result += '<div class="row">';
        result += '<div class="col-sm-3 col-md-3" style="font-size: small; margin-top: 4px;"></div>';
        result += '<div class="col-sm-9 col-md-9" style="font-size: small;">';
        result += '<label>NextDate:</label> <input class="form-control input-sm datepicker" type="text" name="Products[' + productid + '].NextDate" style="width: 30%; display: inline; font-size: small; padding: 2px 5px; height: inherit;">';
        result += '</div>'
        result += '</div>';

        result += '<div class="row"><a href="#" data-id="' + productid + '" data-sku="' + sku + '" class="rlink" data-name="' + productname + '">Remove</a></div>'
        result += '</td></tr>'

        return result;

    }

    $(document).on("click", "a.rlink", function () {
       
        // remove the product from the table
        $this = $(this);
        $this.parents("tr:first").remove();
        var pid = $this.data('id');
        var pname = $this.data('name');
        var sku = $this.data('sku');
        var products = $("#products");
        products.append($("<option></option>")
            .attr("id", pid)
            .data("sku", sku)
            .text(pname));
        products.select2();
        return false;
    });

    
</script>
}
