@model KontinuityCRM.Models.BalancerProcessor

@{
    ViewBag.Title = "Add Processor";
    ViewBag.icon = "fa-book";
}

<div id="breadcrumb">
	<a href="@Url.Action("index", "home")" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
    <a href="@Url.Action("index")"><i class="fa fa-book"></i> Balancers</a>
    <a href="@Url.Action("processors", new { id = ViewContext.RouteData.Values["id"] })"><i class="fa fa-book"></i> Processors</a>
	<a href="#" class="current">@ViewBag.Title</a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="widget-box">

                <div class="widget-title">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                    <h5>@ViewBag.Title for Balancer @ViewBag.Balancer.Name</h5>
                </div>

                <div class="widget-content nopadding">

                    @if (ViewBag.ProcessorCount > 0)
                    {
                        <form method="post" class="form-horizontal">
                    
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.BalancerId, new { @Value = ViewContext.RouteData.Values["id"] })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Processor, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                               @Html.DropDownListFor(model => model.ProcessorId, new SelectList(ViewBag.Processors, "ProcessorId", "Name"), "")
                               @Html.ValidationMessageFor(model => model.ProcessorId)
							</div>
						</div>

                        <div class="form-group">
                             <label class="col-sm-3 col-md-3 col-lg-2 control-label">Properties</label>
							<div class="col-sm-9 col-md-9 col-lg-10">
                                <label>@Html.CheckBoxFor(model => model.IsPreserved) @Html.DisplayNameFor(model => model.IsPreserved)</label>
							</div>
						</div>

                        <div class="form-group">
                             @Html.LabelFor(model => model.InitialLimit, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.InitialLimit, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.InitialLimit)
							</div>
						</div>

                        <div class="form-group">
                             @Html.LabelFor(model => model.Allocation, new { @class = "col-sm-3 col-md-3 col-lg-2 control-label" })
							<div class="col-sm-9 col-md-9 col-lg-10">
                                @Html.TextBoxFor(model => model.Allocation, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.Allocation)
							</div>
						</div>

                        <div class="form-actions">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create</button> or 
                            @Html.ActionLink("Cancel", "processors", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "text-danger" })
						</div>

                    </form>
                    }
                    else
                    {
                        <p>
                            There is no more processor for associate with this Balancer. For create a Processor go 
                            @Html.ActionLink("here", "create", "processor").
                        </p>
                    }

                    
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
